# ***Exploration and Cleaning of the Notifications Table***

In [1]:
from google.colab import auth
auth.authenticate_user()
from google.cloud import bigquery
import pandas as pd
from pandas_gbq import read_gbq


project_id = "data-analytics-bootcamp-363212"

query = '''
SELECT *
FROM `data-analytics-bootcamp-363212.neo_bank.notifications`
'''

df_notifications = read_gbq(query, project_id=project_id)

Downloading: 100%|██████████|

In [2]:
df_notifications

,reason,channel,status,user_id,created_date
0,METAL_RESERVE_PLAN,SMS,SENT,user_4703,2018-10-14 01:48:13.319987+00:00
1,METAL_RESERVE_PLAN,SMS,SENT,user_2397,2018-10-17 08:07:05.709072+00:00
2,METAL_RESERVE_PLAN,SMS,SENT,user_2411,2018-10-14 03:46:34.244392+00:00
3,METAL_RESERVE_PLAN,SMS,SENT,user_1119,2018-10-14 14:16:35.801185+00:00
4,METAL_RESERVE_PLAN,SMS,SENT,user_3499,2018-10-14 18:41:09.268675+00:00
...,...,...,...,...,...
121808,NO_INITIAL_FREE_PROMOPAGE_CARD_ORDER,EMAIL,FAILED,user_19156,2019-01-26 00:42:53.166163+00:00
121809,NO_INITIAL_FREE_PROMOPAGE_CARD_ORDER,EMAIL,FAILED,user_18016,2019-01-26 12:53:43.597248+00:00
121810,NO_INITIAL_FREE_PROMOPAGE_CARD_ORDER,EMAIL,FAILED,user_18016,2019-01-27 12:53:31.166248+00:00
121811,NO_INITIAL_FREE_PROMOPAGE_CARD_ORDER,EMAIL,FAILED,user_19023,2019-01-28 10:20:51.519988+00:00
121812,NO_INITIAL_FREE_PROMOPAGE_CARD_ORDER,EMAIL,FAILED,user_19156,2019-01-27 00:42:41.738163+00:00

In [3]:
df_notifications.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121813 entries, 0 to 121812
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   reason        121813 non-null  object
 1   channel       121813 non-null  object
 2   status        121813 non-null  object
 3   user_id       121813 non-null  object
 4   created_date  121813 non-null  datetime64[us, UTC]
dtypes: datetime64[us, UTC](1), object(4)
memory usage: 4.6+ MB

In [4]:
df_notifications.nunique()

reason              17
channel              3
status               2
user_id          18953
created_date    121810
dtype: int64

In [5]:
df_notifications.columns = df_notifications.columns.str.lower().str.replace(" ", "_")
text_cols = df_notifications.select_dtypes(include='object').columns

for col in text_cols:
    df_notifications[col] = (df_notifications[col].str.lower() .str.strip().str.replace(r'\s+', '_', regex=True) .str.replace(r'[^\w]', '', regex=True))

In [6]:
df_notifications.head()

,reason,channel,status,user_id,created_date
0,metal_reserve_plan,sms,sent,user_4703,2018-10-14 01:48:13.319987+00:00
1,metal_reserve_plan,sms,sent,user_2397,2018-10-17 08:07:05.709072+00:00
2,metal_reserve_plan,sms,sent,user_2411,2018-10-14 03:46:34.244392+00:00
3,metal_reserve_plan,sms,sent,user_1119,2018-10-14 14:16:35.801185+00:00
4,metal_reserve_plan,sms,sent,user_3499,2018-10-14 18:41:09.268675+00:00

In [7]:
df_notifications[df_notifications.duplicated(keep=False)]

Empty DataFrame
Columns: [reason, channel, status, user_id, created_date]
Index: []

In [8]:
df_notifications.tail(40)

,reason,channel,status,user_id,created_date
121773,no_initial_free_promopage_card_order,email,failed,user_18084,2019-01-06 02:14:52.663222+00:00
121774,no_initial_free_promopage_card_order,email,failed,user_18084,2019-01-07 02:15:21.827222+00:00
121775,no_initial_free_promopage_card_order,email,failed,user_18033,2019-01-07 00:56:29.696239+00:00
121776,no_initial_free_promopage_card_order,email,failed,user_17170,2019-01-02 04:16:23.601514+00:00
121777,no_initial_free_promopage_card_order,email,failed,user_17333,2019-01-01 09:25:46.036006+00:00
121778,no_initial_free_promopage_card_order,email,failed,user_18084,2019-01-09 02:16:11.503222+00:00
121779,no_initial_free_promopage_card_order,email,failed,user_18033,2019-01-09 00:57:19.072239+00:00
121780,no_initial_free_promopage_card_order,email,failed,user_19233,2019-01-20 04:08:15.600152+00:00
121781,no_initial_free_promopage_card_order,email,failed,user_19279,2019-01-21 00:37:33.378019+00:00
121782,no_initial_free_promopage_card_order,email,failed,user_19096,2019-01-20 15:27:11.855275+00:00
121783,no_initial_free_promopage_card_order,email,failed,user_19279,2019-01-22 00:32:14.174019+00:00
121784,no_initial_free_promopage_card_order,email,failed,user_17564,2019-01-21 08:07:58.727475+00:00
121785,no_initial_free_promopage_card_order,email,failed,user_18045,2019-01-22 04:13:37.583401+00:00
121786,no_initial_free_promopage_card_order,email,failed,user_17502,2019-01-21 03:26:00.385727+00:00
121787,no_initial_free_promopage_card_order,email,failed,user_17718,2019-01-22 14:20:39.723725+00:00
121788,no_initial_free_promopage_card_order,email,failed,user_18471,2019-01-21 14:22:58.119338+00:00
121789,no_initial_free_promopage_card_order,email,failed,user_18033,2019-01-11 00:56:07.942239+00:00
121790,no_initial_free_promopage_card_order,email,failed,user_19023,2019-01-23 10:11:50.918988+00:00
121791,no_initial_free_promopage_card_order,email,failed,user_17116,2019-01-22 02:08:51.704974+00:00
121792,no_initial_free_promopage_card_order,email,failed,user_19233,2019-01-22 03:58:47.932152+00:00
121793,no_initial_free_promopage_card_order,email,failed,user_18256,2019-01-12 21:50:25.633761+00:00
121794,no_initial_free_promopage_card_order,email,failed,user_17332,2019-01-13 04:40:46.319149+00:00
121795,no_initial_free_promopage_card_order,email,failed,user_19308,2019-01-12 20:20:47.463111+00:00
121796,no_initial_free_promopage_card_order,email,failed,user_19308,2019-01-13 20:23:46.900111+00:00
121797,no_initial_free_promopage_card_order,email,failed,user_19007,2019-01-14 09:06:55.010821+00:00
121798,no_initial_free_promopage_card_order,email,failed,user_18962,2019-01-15 23:06:12.221279+00:00
121799,no_initial_free_promopage_card_order,email,failed,user_17463,2019-01-16 00:56:42.136149+00:00
121800,no_initial_free_promopage_card_order,email,failed,user_19305,2019-01-15 18:19:01.107161+00:00
121801,no_initial_free_promopage_card_order,email,failed,user_18898,2019-01-15 16:39:03.384034+00:00
121802,no_initial_free_promopage_card_order,email,failed,user_17972,2019-01-16 20:41:12.610005+00:00
121803,no_initial_free_promopage_card_order,email,failed,user_17298,2019-01-16 13:34:38.064622+00:00
121804,no_initial_free_promopage_card_order,email,failed,user_17116,2019-01-17 02:19:18.510974+00:00
121805,no_initial_free_promopage_card_order,email,failed,user_19096,2019-01-17 15:30:52.137275+00:00
121806,no_initial_free_promopage_card_order,email,failed,user_19023,2019-01-26 10:18:12.521988+00:00
121807,no_initial_free_promopage_card_order,email,failed,user_17116,2019-01-18 02:18:30.657974+00:00
121808,no_initial_free_promopage_card_order,email,failed,user_19156,2019-01-26 00:42:53.166163+00:00
121809,no_initial_free_promopage_card_order,email,failed,user_18016,2019-01-26 12:53:43.597248+00:00
121810,no_initial_free_promopage_card_order,email,failed,user_18016,2019-01-27 12:53:31.166248+00:00
121811,no_initial_free_promopage_card_order,email,failed,user_19023,2019-01-28 10:20:51.519988+00:00
121812,no_initial_free_promopage_card_order,email,failed,user_19156,2019-01-27 00:42:41.738163+00:00